*.pyc
/__pycache__
venv
.venvs
.venv
/.pytest_cache
*.swp
.sil2spec

build/
output/
dist/

.pytest_cache
.mypy_cache

# Dynamically built from Markdown spec
tests/core/pyspec/sil2spec/phase0/
tests/core/pyspec/sil2spec/altair/
tests/core/pyspec/sil2spec/bellatrix/
tests/core/pyspec/sil2spec/capella/
tests/core/pyspec/sil2spec/deneb/
tests/core/pyspec/sil2spec/electra/
tests/core/pyspec/sil2spec/fulu/
tests/core/pyspec/sil2spec/gloas/
tests/core/pyspec/sil2spec/sip*/

# coverage reports
.htmlcov
.coverage
.coverage.*

# local CI testing output
tests/core/pyspec/test-reports
tests/core/pyspec/sil2spec/test_results.xml

*.egg-info

# TOC tool outputs temporary files
*.tmp

# docs reader build
docs/specs
docs/sync
docs/ssz
docs/fork_choice
docs/README.md
site

# docker test results
testResults
